@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-monospace, monospace;;

}

body {
    overflow: hidden;
}

span {
    user-select: none;
    cursor: default;
}

.blinking-cursor {
    display: inline-block;
    width: 2px;
    height: 1.2em;
    background-color: white;
    animation: blink 1s step-end infinite;
    vertical-align: text-bottom;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.correct {
    color: #d6d3d1;
}

.incorrect {
    color: #ca4754;
    text-decoration: underline;
}

.pending {
    color: #646669;
}